@font-face {
  font-family: "InterR";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "InterM";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "InterS";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "InterB";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "InterE";
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff") format("woff"), url("../fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsR";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsM";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsRI";
  font-display: swap;
  src: url("../fonts/Poppins-MediumItalic.woff") format("woff"), url("../fonts/Poppins-MediumItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "PoppinsMI";
  font-display: swap;
  src: url("../../fonts/Poppins-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "PoppinsS";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsB";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsE";
  font-display: swap;
  src: url("../fonts/Poppins-ExtraBold.woff") format("woff"), url("../fonts/Poppins-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "HalveticaM";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HalveticaN";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansR";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: default;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h6 {
  font-size: inherit;
  font-weight: 400;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  max-width: 1440px;
  height: 64px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
header.header_bg-grey {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 250;
  background: var(--crypto-white-linear, linear-gradient(135deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.02) 100%));
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}
header svg {
  width: 140px;
  height: auto;
  cursor: default;
}
header .menu {
  display: flex;
  gap: 32px;
  font-family: "InterM", sans-serif;
  font-size: 14px;
}
header .menu__socials_mob {
  display: none;
}
header .menu__item {
  cursor: default;
}
header .menu__item:hover {
  color: #9e9dfe;
}
header .menu__item:hover .rotate > .left_arrow,
header .menu__item:hover .rotate > .right_arrow {
  background-color: #9e9dfe;
}
header .menu__item a,
header .menu__item div[data-goto] {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
header .menu__item a {
  cursor: inherit;
}
header .menu__item_dropdown {
  position: relative;
}
header .menu__item_dropdown .rotate {
  display: inline-block;
  width: 27px;
}
header .menu__item_dropdown .rotate .left_arrow,
header .menu__item_dropdown .rotate .right_arrow {
  content: "";
  position: absolute;
  width: 9px;
  height: 2px;
  background-color: #fff;
  top: 50%;
  transition-duration: 0.3s;
}
header .menu__item_dropdown .rotate .right_arrow {
  right: 15px;
  transform: rotate(45deg) translateY(-50%);
}
header .menu__item_dropdown .rotate.active .right_arrow {
  right: 8px;
  transform: rotate(45deg) translateY(-50%);
}
header .menu__item_dropdown .rotate .left_arrow {
  right: 8px;
  transform: rotate(-45deg) translateY(-50%);
}
header .menu__item_dropdown .rotate.active .left_arrow {
  right: 13px;
  transform: rotate(-45deg) translateY(-50%);
}
header .menu__item_dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 39px;
  right: 10px;
  background: var(--crypto-white-linear, linear-gradient(135deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.02) 100%));
  -webkit-backdrop-filter: blur(4.1049365997px);
  backdrop-filter: blur(4.1049365997px);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(27, 27, 27, 0.2);
  z-index: 1;
}
header .menu__item_dropdown .dropdown-content a,
header .menu__item_dropdown .dropdown-content div {
  cursor: inherit;
  color: #ffffff;
  padding: 7px 10px;
  text-decoration: none;
  display: block;
}
header .menu__item_dropdown .dropdown-content a:hover,
header .menu__item_dropdown .dropdown-content div:hover {
  color: #9e9dfe;
  text-decoration: underline;
}
header .menu__item_dropdown .dropdown-content.show {
  display: block;
}
header .menu_mob {
  display: none;
}

@media (max-width: 1024px) {
  header.header_bg-grey {
    background: none;
  }
  header .menu {
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .open {
    overflow: hidden;
  }
  .open .menu {
    overflow: visible;
    transform: translateY(0);
  }
  .open .menu_mob .rotate {
    width: 0;
  }
  .open .menu_mob .left_arrow {
    width: 25px;
    transform: rotate(-45deg) translate(5px, -7px);
  }
  .open .menu_mob .right_arrow {
    transform: rotate(45deg) translate(5px, 6px);
  }
  header {
    height: 100px;
  }
  header.header_bg-grey {
    position: absolute;
  }
  header svg {
    position: relative;
    z-index: 100;
  }
  header .menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2b2b2b;
    transform: translateY(-105%);
    transition: transform 0.2s linear;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  header .menu__item {
    height: 45px;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    font-size: 20px;
  }
  header .menu__item_dropdown:has(.show) {
    height: 130px;
  }
  header .menu__item_dropdown .rotate {
    width: 25px;
  }
  header .menu__item_dropdown .rotate .right_arrow {
    right: -17px;
  }
  header .menu__item_dropdown .rotate .left_arrow {
    right: -24px;
  }
  header .menu__item_dropdown .rotate.active .right_arrow {
    top: 10px;
    right: 17px;
  }
  header .menu__item_dropdown .rotate.active .left_arrow {
    top: 10px;
    right: 22px;
  }
  header .menu__item_dropdown .dropdown-content {
    position: relative;
    background: none;
    box-shadow: none;
    top: 15px;
    right: 0;
    text-align: center;
  }
  header .menu__item__bg, header .menu__item__grid {
    display: block;
  }
  header .menu__item .gridBg {
    display: block;
    background-size: contain;
    width: 1250px;
  }
  header .menu__socials_mob {
    display: flex;
    position: absolute;
    bottom: 12vh;
    justify-content: center;
    gap: 10px;
  }
  header .menu__socials_mob a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .menu__socials_mob > a:hover[title=Soon] > span {
    display: block;
  }
  header .menu__socials_mob > a[title=Soon] > span {
    font-family: "PoppinsR", sans-serif;
    position: absolute;
    font-size: 14px;
    color: rgb(246, 246, 246);
    top: 37px;
    left: 46px;
    display: none;
  }
  header .menu__socials_mob svg {
    -webkit-backdrop-filter: blur(4.1049365997px);
    backdrop-filter: blur(4.1049365997px);
    width: 40px;
    height: 40px;
    cursor: default;
  }
  header .menu__socials_mob svg:hover path {
    fill: #9e9dfe;
  }
  header .menu_mob {
    display: block;
    position: relative;
    height: 40px;
    width: 40px;
    cursor: default;
  }
  header .menu_mob span {
    width: 19px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    display: inline-block;
    border-radius: 2px;
    left: 8px;
    top: 50%;
    transform: translateY(-1px);
    transition: width 0.2s linear;
  }
  header .menu_mob::after, header .menu_mob::before {
    position: absolute;
    content: "";
    left: 8px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    transition: all 0.2s linear;
  }
  header .menu_mob::after {
    width: 25px;
    top: 11px;
  }
  header .menu_mob::before {
    width: 12px;
    bottom: 11px;
  }
}
@media (max-width: 768px) and (max-width: 576px) {
  header svg {
    width: 100px;
    height: auto;
  }
}
.socials {
  max-width: 1490px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 96px;
  right: 0;
  left: 0;
  z-index: 200;
  display: flex;
  justify-content: space-between;
}
.socials a:hover[title=Soon] > span {
  display: block;
}
.socials a[title=Soon] > span {
  font-family: "PoppinsR", sans-serif;
  position: absolute;
  font-size: 8px;
  color: white;
  top: 85px;
  left: 6px;
  display: none;
}
.socials div:not(:empty) {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  top: 0;
  right: 0;
  padding-right: 30px;
}
.socials svg {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: default;
}
.socials svg:hover path {
  fill: #9e9dfe;
}

@media (max-width: 768px) {
  .socials {
    display: none;
  }
}
.section {
  position: relative;
  padding: 0 104px;
  overflow: hidden;
}
.section_black {
  background-color: #2b2b2b;
  z-index: 2;
}
.section_violet {
  background-image: url(../img/bg/violetBg.webp);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
}
.section_green {
  background-image: url(../img/bg/greenBg.webp);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
}
.section__container {
  position: relative;
  z-index: 5;
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 164px;
}
.section__block:first-child {
  max-width: 580px;
}
.section__block:last-child {
  max-width: 396px;
}
.section__title {
  font-size: 90px;
  font-family: "InterB", sans-serif;
  text-transform: uppercase;
  letter-spacing: -5.4px;
  margin-bottom: 32px;
}
.section__description {
  font-size: 16px;
  font-family: "PoppinsR", sans-serif;
  line-height: 23px;
  margin-bottom: 12px;
}
.section__description_uppercase {
  text-transform: uppercase;
}
.section__description_small {
  font-size: 14px;
  font-family: "PoppinsM", sans-serif;
}
.section__description_italic {
  font-style: italic;
}
.section__subtitle {
  font-size: 50px;
  font-family: "InterS", sans-serif;
  line-height: 60px;
  letter-spacing: -3px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.gridBg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/bg/grid2.svg);
  background-repeat: repeat;
  z-index: 0;
  opacity: 1;
}

@media (max-width: 1240px) {
  .section {
    padding: 0 90px;
  }
}
@media (max-width: 1024px) {
  .section {
    padding: 0 40px;
  }
}
@media (max-width: 576px) {
  .section {
    max-height: 100%;
    height: 100%;
    min-height: 0;
    padding: 40px 20px;
  }
  .section__title {
    font-size: 40px;
    font-family: "InterE", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-bottom: 32px;
  }
  .section__container {
    max-width: 96%;
  }
  .section__description {
    font-size: 14px;
  }
}
@media (max-width: 393px) {
  .section {
    padding: 30px 15px;
  }
}
.section__bet {
  padding-top: 170px;
  padding-bottom: 120px;
  display: flex;
  gap: 182px;
}
.section__bet > div:first-child {
  max-width: 585px;
}
.section__bet > div:last-child > div:first-child {
  max-width: 362px;
  margin-bottom: 20px;
}
.section__bet .section__description {
  margin-bottom: 20px;
}
.section__bet h4 {
  margin-bottom: 20px;
}

@media (max-width: 1240px) {
  .section__bet {
    padding-bottom: 170px;
    gap: 5vw;
    justify-content: space-between;
  }
}
@media (max-width: 1024px) {
  .section__bet {
    flex-direction: column;
    gap: 0;
    padding-bottom: 100px;
    padding-top: 100px;
    padding: 100px 0;
  }
  .section__bet div {
    max-width: 100vw;
    width: 100%;
  }
  .section__bet > div:first-child {
    margin-bottom: 10px;
  }
  .section__bet > div:last-child > div:first-child {
    margin-bottom: 40px;
  }
  .section__bet > div:first-child, .section__bet > div:last-child > div:first-child {
    max-width: 100vw;
    width: 100%;
  }
  .section__bet .section__description {
    margin-bottom: 30px;
  }
  .section__bet h4 {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .section__bet {
    padding: 30px 0;
  }
  .section__bet h4 {
    font-size: 32px;
  }
}
.section__description_mobile {
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  font-family: "InterS", sans-serif;
  display: none;
}
.section__container_main {
  padding: 162px 0 70px;
}
.section__event_main {
  padding-bottom: 60px;
  overflow-x: auto;
  position: relative;
  left: -104px;
  z-index: 100;
}
.section__event_main > div {
  display: flex;
  gap: 0 30px;
  padding: 0 15px;
  animation: move 160s linear infinite backwards;
}
.section__event_main > div .card {
  cursor: default;
}
.section__event_main > div .card__socials > a {
  cursor: default;
}
@keyframes move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1240px) {
  .section__event_main {
    left: -90px;
  }
}
@media (max-width: 1024px) {
  .section > .section__container_main {
    flex-direction: column;
    gap: 20px;
  }
  .section > .section__container_main .section__subtitle {
    display: none;
  }
  .section > .section__container_main .section__description {
    margin-bottom: 20px;
  }
  .section__event_main {
    left: -40px;
  }
  .section__description_mobile {
    display: block;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .section > .section__container_main {
    padding: 56px 0 50px;
  }
  .section > .section__container_main .section__block:last-child {
    max-width: 100%;
  }
  .section > .section__container_main .section__title {
    margin-bottom: 20px;
  }
  .section > .section__container_main .section__description {
    margin-bottom: 15px;
  }
  .section__event_main {
    padding-bottom: 30px;
    left: -22px;
  }
  .section__description_mobile {
    font-size: 16px;
    line-height: 33px;
    text-transform: none;
    font-family: "PoppinsS", sans-serif;
  }
  .section__button-group {
    width: 100%;
  }
}
@media (max-width: 393px) {
  .section > .section__container_main {
    padding-top: 70px;
  }
  .section h2 {
    margin-bottom: 16px;
  }
}
.case {
  padding-top: 122px;
  padding-bottom: 55px;
}
.case .title {
  margin-bottom: 48px;
}
.case > div:first-of-type {
  margin-bottom: 30px;
}

.section__event_cases {
  position: relative;
  height: auto;
  width: 127vw;
  margin: 0 -27vw;
  padding: 0 27vw 35px;
  gap: 32px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media (hover: none) {
  .section__event_cases .card .hover .card__info_button {
    display: flex;
  }
  .section__event_cases .card .hover .card__info_status {
    display: none;
  }
  .section__event_cases .card .hover .card__info_tags {
    display: none;
  }
}
@media (hover: hover) {
  .section__event_cases .card:hover .card__info_button {
    display: flex;
  }
  .section__event_cases .card:hover .card__info_status {
    display: none;
  }
  .section__event_cases .card:hover .card__info_tags {
    display: none;
  }
}
.section__event_cases .bg img {
  background: #000;
}
.section__event_cases .bg picture {
  opacity: 0.3;
}

@media (max-width: 768px) {
  .section__event_cases {
    padding-right: 10vw;
  }
  .case {
    padding-top: 80px;
    padding-bottom: 72px;
  }
  .case .title {
    font-size: 64px;
    line-height: 80px;
  }
}
@media (max-width: 576px) {
  .section__event_cases {
    padding-right: 12vw;
  }
  .case {
    padding-bottom: 0;
    padding-top: 0;
  }
  .case .title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
  }
}
.section__features {
  z-index: 10;
}
.section__features_block {
  height: 1120px;
  max-width: 1240px;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  margin: 0 auto;
  gap: 45px 210px;
  width: 100%;
}
.section__features_block-text {
  padding-top: 100px;
  width: 100%;
  max-width: 510px;
  position: relative;
  z-index: 3;
}
.section__features_block-text h4,
.section__features_block-text p {
  margin-bottom: 30px;
}
.section__features_p-t-30 {
  padding-top: 30px;
}
.section__features_bg-black-first {
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 50%;
}
.section__features_bg-black-first .bg {
  background-color: #413f3f;
}
.section__features_bg-dark-violet {
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 50%;
  right: 0;
}
.section__features_bg-dark-violet .bg {
  background-color: #25255b;
}
.section__features_bg-light-violet {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 50%;
}
.section__features_bg-light-violet .bg {
  background-color: #6868a1;
}
.section__features_bg-black-second {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 50%;
  right: 0;
}
.section__features_bg-black-second .bg {
  background-color: #2b2b2b;
}

@media (max-width: 1240px) {
  .section__features_block {
    height: 1366px;
    max-width: 1024px;
    gap: 0 204px;
  }
  .section__features_p-t-30 {
    padding-top: 100px;
  }
}
@media (max-width: 1024px) {
  .section__features {
    padding: 0 20px;
  }
  .section__features_block {
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 30px;
    gap: 29px;
    max-width: 96%;
    height: 100%;
    margin: 0 auto;
  }
  .section__features_block > div {
    position: relative;
    height: auto;
  }
  .section__features_block > div:first-child p {
    font-family: "PoppinsRI", sans-serif;
    line-height: 27px;
  }
  .section__features_block > div:nth-child(2) p {
    font-family: "PoppinsR", sans-serif;
  }
  .section__features_block-text {
    height: auto;
    padding-top: 50px;
    max-width: 100%;
  }
  .section__features_block-text h4,
  .section__features_block-text p {
    margin-bottom: 16px;
  }
  .section__features_block-text h4 {
    font-size: 32px;
    line-height: 40px;
  }
  .section__features_block-text p:last-of-type {
    font-size: 14px;
    margin-bottom: 0;
  }
  .section__features .features_bg {
    display: none;
  }
  .section__features_bg-black-first, .section__features_bg-dark-violet, .section__features_bg-light-violet, .section__features_bg-black-second {
    position: absolute;
    min-height: 100%;
    top: 0;
    bottom: -40px;
    left: -50px;
    right: -50px;
    z-index: -1;
  }
}
@media (max-width: 768px) {
  .section__features_block-text {
    padding: 30px 5px 0px 10px;
  }
}
@media (max-width: 576px) {
  .section__features {
    padding-top: 20px;
  }
  .section__features_block {
    padding-top: 10px;
    padding-bottom: 30px;
    gap: 60px;
  }
  .section__features_block-text {
    padding: 12px 0 0 0;
    margin: 0;
  }
  .section__features_block > div {
    min-height: auto;
    margin-bottom: 0;
  }
  .section__features_bg-black-first, .section__features_bg-dark-violet, .section__features_bg-light-violet, .section__features_bg-black-second {
    top: -30px;
  }
}
@media (max-width: 393px) {
  .section__features_bg-black-first, .section__features_bg-dark-violet, .section__features_bg-light-violet, .section__features_bg-black-second {
    top: -40px;
    bottom: -100px;
  }
}
.section {
  z-index: 10;
}
.section__columns_container {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 136px;
}
.section__columns_container > div {
  width: 270px;
}
.section__columns_container > div > div:first-child {
  display: none;
}
.section__columns_container h4,
.section__columns_container p {
  position: relative;
  z-index: 11;
}
.section__columns_container h4 {
  margin-bottom: 32px;
}
.section__columns_bg-black, .section__columns_bg-violet, .section__columns_bg-dark-violet {
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translateX(-50%);
}
.section__columns_bg-black {
  background: linear-gradient(180deg, rgb(24, 24, 24) 0%, rgb(43, 43, 43) 66%, rgba(67, 67, 67, 0.961) 100%);
}
.section__columns_bg-violet {
  background-color: #6868a1;
}
.section__columns_bg-dark-violet {
  left: 80%;
  right: -50%;
  background-color: #25255b;
  z-index: -3;
}
.section__columns_left {
  right: 0;
  left: 0;
}
.section__columns_central {
  left: 50%;
  width: 33%;
  max-width: 480px;
}
.section__columns_right {
  left: 80%;
  right: -50%;
  z-index: -3;
}

@media (max-width: 1440px) {
  .section__columns_central {
    width: 33.3333333333vw;
  }
}
@media (max-width: 1240px) {
  .section:has(.section__columns_right) {
    padding: 0 10px 0 90px;
  }
  .section:has(.section__columns_right) .section__columns_container {
    justify-content: start;
    gap: calc(33.3333333333vw - 270px);
  }
}
@media (max-width: 1024px) {
  .section:has(.section__columns_right) {
    padding: 0 40px 0;
  }
  .section:has(.section__columns_right) .section__columns_container {
    justify-content: space-between;
    gap: 100px;
  }
  .section__columns_container {
    flex-direction: column;
    padding: 60px 0 30px;
  }
  .section__columns_container > div {
    width: 100%;
    position: relative;
  }
  .section__columns_container > div > div:first-child {
    display: block;
    z-index: -1;
    top: -70px;
    bottom: -70px;
    right: -130vw;
    left: -40px;
  }
  .section__columns_container > div .section__columns_central {
    width: auto;
    transform: translateX(0);
  }
  .section__columns_central {
    max-width: 100vw;
  }
  .section__columns_left, .section__columns_central, .section__columns_right {
    display: none;
    left: 0;
    right: 0;
  }
}
@media (max-width: 576px) {
  .section:has(.section__columns_right) {
    padding: 0;
  }
  .section:has(.section__columns_right) .section__columns_container {
    gap: 0;
  }
  .section__columns_container {
    padding: 0;
    gap: 0px;
    max-width: 96%;
    padding: 35px 25px 25px;
  }
  .section__columns_container > div:nth-child(1) {
    margin-bottom: 60px;
  }
  .section__columns_container > div:nth-child(2) {
    margin-bottom: 60px;
  }
  .section__columns_container > div > div:first-child {
    top: -40px;
    left: -35px;
  }
  .section__columns_container h4 {
    margin-bottom: 10px;
  }
}
@media (max-width: 393px) {
  .section__columns_container > div h4 {
    margin: 20px 0;
  }
  .section__columns_container > div .section__description {
    margin: 10px 0;
  }
  .section__columns_container > div > div:first-child {
    top: -40px;
    left: -33px;
  }
}
.grid_stake {
  opacity: 0.7;
}

.section__stake {
  padding-top: 162px;
  display: flex;
  gap: 92px;
  padding-bottom: 147px;
}
.section__stake > button {
  display: none;
}
.section__stake > div:first-child {
  max-width: 580px;
}
.section__stake p {
  font-size: 16px;
  font-family: "PoppinsM", sans-serif;
  line-height: 23px;
  margin-bottom: 20px;
}
.section__stake p:last-of-type {
  margin-bottom: 30px;
}
.section__stake_img {
  position: relative;
}
.section__stake_img img {
  margin-top: 86px;
  width: 540px;
  height: auto;
}
.section__stake_img > picture:last-child {
  position: absolute;
  top: 5px;
  left: 60px;
}
.section__stake_img > picture:last-child img {
  width: 425px;
}

@media (max-width: 1240px) {
  .section__stake {
    gap: 30px;
  }
}
@media (max-width: 1024px) {
  .section__stake {
    padding-top: 100px;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-bottom: 147px;
  }
  .section__stake > div:first-child {
    padding-left: 20px;
    max-width: 80%;
  }
  .section__stake_img {
    margin: 0 auto;
  }
  .section__stake_img img {
    margin-top: 30px;
    width: 92vw;
    height: auto;
  }
  .section__stake_img > picture:last-child {
    left: 100px;
    top: 7px;
  }
  .section__stake_img > picture:last-child img {
    width: 70vw;
    height: auto;
  }
}
@media (max-width: 768px) {
  .section__stake > div:first-child {
    padding-left: 15px;
  }
  .section__stake_img > picture:last-child {
    left: 70px;
  }
  .section__stake_img img {
    width: 90vw;
  }
}
@media (max-width: 576px) {
  .section__stake {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .section__stake > button {
    display: block;
    width: 87vw;
    margin: 0 auto;
  }
  .section__stake > div:first-child {
    padding-left: 15px;
  }
  .section__stake > div:first-child button {
    display: none;
  }
  .section__stake_img {
    margin-bottom: 30px;
  }
  .section__stake_img > picture:last-child {
    left: 10vw;
  }
}
@media (max-width: 393px) {
  .section__stake {
    padding-bottom: 20px;
  }
  .section__stake p:last-of-type {
    margin-bottom: 10px;
  }
  .section__stake > div:first-child {
    padding-left: 10px;
  }
  .section__stake_img {
    margin-bottom: 20px;
  }
}
.section__tokenomics {
  position: relative;
  z-index: 3;
  padding: 162px 50px 190px 0;
  display: flex;
  gap: 182px;
}
.section__tokenomics > div:first-child {
  max-width: 580px;
}
.section__tokenomics > div:last-child {
  max-width: 360px;
}
.section__tokenomics h2 {
  margin-bottom: 118px;
}
.section__tokenomics h2 + p {
  display: none;
}
.section__tokenomics h3 {
  margin-bottom: 24px;
}
.section__tokenomics img {
  display: inline-block;
  width: 560px;
  height: auto;
}
.section__tokenomics .section__description {
  margin-bottom: 24px;
}
.section__tokenomics li {
  padding-left: 24px;
  position: relative;
}
.section__tokenomics li::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  left: 10px;
  top: 9px;
}

@media (max-width: 1240px) {
  .section__tokenomics {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
  .section__tokenomics > div:first-child {
    max-width: 500px;
  }
  .section__tokenomics img {
    width: 500px;
  }
}
@media (max-width: 1024px) {
  .section__tokenomics {
    flex-direction: column;
    padding: 80px 0 60px;
  }
  .section__tokenomics > div:first-child {
    max-width: 90vw;
  }
  .section__tokenomics h2 {
    margin-bottom: 90px;
  }
  .section__tokenomics img {
    width: 100%;
    padding: 0 20px 60px;
  }
  .section__tokenomics > div:last-child {
    max-width: 90vw;
  }
}
@media (max-width: 768px) {
  .section__container:has(.section__tokenomics) {
    padding: 60px 0 30px;
  }
  .section__tokenomics {
    padding: 0;
  }
  .section__tokenomics h2 {
    font-size: 70px;
    margin-bottom: 70px;
  }
}
@media (max-width: 576px) {
  .section__container:has(.section__tokenomics) {
    max-width: 96%;
    padding: 30px 10px 0;
  }
  .section__tokenomics h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .section__tokenomics h2 + .section__description {
    margin-bottom: 30px;
    display: block;
  }
}
.grid_roadmap {
  opacity: 0.7;
}

.section__roadmap_plan {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  z-index: 100;
  margin: 0 -7vw;
  padding-bottom: 112px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: default;
}
.section__roadmap_plan::-webkit-scrollbar, .section__roadmap_plan > div::-webkit-scrollbar {
  display: none;
}
@media (hover: hover) {
  .section__roadmap_plan:hover div {
    animation-play-state: paused;
  }
}
@media (hover: none) {
  .section__roadmap_plan:active div {
    animation-play-state: paused;
  }
}
.section__roadmap_plan > div {
  display: flex;
  gap: 0 30px;
  animation: move 80s linear infinite backwards;
  position: relative;
}
.section__roadmap_plan > div > li {
  width: 100%;
  white-space: nowrap;
}
.section__roadmap_plan > div > li h4 {
  margin-bottom: 70px;
}
.section__roadmap_plan > div > li:last-child > span {
  display: none;
}

.section__roadmap_block {
  position: relative;
}

.section__roadmap_line {
  position: absolute;
  top: 80px;
  left: 0;
  width: calc(600% + 100px);
  height: 2px;
  background-color: rgb(29, 141, 99);
}

.section__roadmap_point {
  position: absolute;
  top: -40px;
  left: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: rgb(29, 141, 99);
}

.section__roadmap_items {
  margin-top: 40px;
  position: relative;
}
.section__roadmap_items p {
  font-size: 13px;
  position: relative;
  display: inline-block;
  padding-left: 20px;
}
.section__roadmap_items p::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  top: 10px;
  left: 10px;
}

.section__roadmap {
  position: relative;
  z-index: 3;
  padding-top: 162px;
}
.section__roadmap h2 {
  margin-bottom: 235px;
}

@media (max-width: 1440px) {
  .section__roadmap {
    max-width: 100%;
  }
}
@media (max-width: 1024px) {
  .section__roadmap {
    padding: 80px 0 60px;
  }
}
@media (max-width: 768px) {
  .section__container:has(.section__roadmap) {
    padding: 60px 0 30px;
  }
  .section__roadmap {
    padding: 0;
  }
  .section__roadmap h2 {
    margin-bottom: 150px;
  }
  .section__roadmap_plan {
    padding-bottom: 70px;
  }
}
@media (max-width: 576px) {
  .section__container:has(.section__roadmap) {
    max-width: 96%;
    padding: 30px 10px 0;
  }
  .section__roadmap {
    min-height: auto;
  }
  .section__roadmap h2 {
    margin-bottom: 70px;
  }
  .section__roadmap_plan {
    padding: 0;
    margin: 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .section__roadmap_plan > li {
    scroll-snap-align: start;
    min-width: 100%;
    white-space: normal;
    height: auto;
  }
  .section__roadmap_plan > li > span::before {
    bottom: -7px;
  }
  .section__roadmap_plan > li > span::after {
    bottom: -13px;
  }
  .section__roadmap_plan > li::before {
    bottom: -10px;
  }
  .section__roadmap_point {
    top: -34px;
  }
  .section__roadmap_items {
    margin-top: 16px;
  }
}
@media (max-width: 393px) {
  .section__container:has(.section__roadmap) {
    padding: 30px 10px 0;
  }
}
.section__partners {
  background-color: #828282;
}
.section__partners_block {
  position: relative;
  z-index: 5;
  padding-top: 120px;
  padding-bottom: 130px;
  display: flex;
  gap: 182px;
}
.section__partners_block > div:first-child {
  width: 580px;
}
.section__partners_block > div:last-child {
  width: 360px;
}
.section__partners_block .section__description {
  margin-bottom: 48px;
}
.section__partners_block ul {
  display: flex;
  justify-content: space-between;
}
.section__partners_block ul li {
  width: 180px;
  height: 98px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.02) 100%);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.section__partners_block h3 {
  margin-bottom: 50px;
}
.section__partners_block button {
  width: 100%;
  font-family: "InterB", sans-serif;
}
.section__partners_input {
  width: 100%;
  height: 72px;
  gap: 17px;
  padding: 5px 5px 5px 26px;
  margin-bottom: 15px;
}
.section__partners_input input,
.section__partners_input textarea {
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "InterS", sans-serif;
  color: #fff;
  letter-spacing: 0.28px;
  line-height: 17px;
}
.section__partners_input > input ~ label {
  font-size: 16px;
}
.section__partners_input button {
  font-family: "InterB", sans-serif;
}
.section__partners_textarea {
  height: 210px;
  padding: 18px 18px;
  margin-bottom: 16px;
}
.section__partners_textarea textarea::-moz-placeholder {
  opacity: 0.6;
}
.section__partners_textarea textarea::placeholder {
  opacity: 0.6;
}
.section__partners_name {
  gap: 13px;
}
.section__partners_name input:-moz-placeholder-shown ~ span {
  left: 114px;
}
.section__partners_name input:placeholder-shown ~ span {
  left: 114px;
}
.section__partners_email input:-moz-placeholder-shown ~ span {
  right: 125px;
}
.section__partners_email input:placeholder-shown ~ span {
  right: 125px;
}
.section__partners_email input::-moz-placeholder, .section__partners_name input::-moz-placeholder {
  opacity: 0.6;
}
.section__partners_email input::placeholder, .section__partners_name input::placeholder {
  opacity: 0.6;
}
.section__partners_bg-text {
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  font-family: "PoppinsB", sans-serif;
  font-size: 200px;
  line-height: 165px;
  text-transform: uppercase;
  opacity: 0.1;
  z-index: 1;
  left: 104px;
  bottom: 112px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.section__partners_logo .azuro {
  width: 194px;
  height: auto;
}
.section__partners_logo .fireblocks {
  width: 130px;
  height: auto;
}
.section__partners_logo .polygon {
  height: auto;
  width: 133px;
}

@media (max-width: 1240px) {
  .section__partners_block {
    gap: 80px;
    justify-content: space-between;
  }
  .section__partners_block > div:last-child {
    width: 33%;
  }
  .section__partners_email input:-moz-placeholder-shown ~ span {
    right: 4vw;
  }
  .section__partners_email input:placeholder-shown ~ span {
    right: 4vw;
  }
}
@media (max-width: 1024px) {
  .section__partners_block {
    padding: 80px 0 200px;
    flex-direction: column;
    gap: 80px;
  }
  .section__partners_block br {
    display: none;
  }
  .section__partners_block > div:first-child {
    width: 100%;
    max-width: 100%;
  }
  .section__partners_block > div:last-child {
    width: 100%;
    max-width: 100%;
  }
  .section__partners_block ul li {
    width: 25vw;
    height: 112px;
  }
  .section__partners_email input:-moz-placeholder-shown ~ span {
    left: 225px;
  }
  .section__partners_email input:placeholder-shown ~ span {
    left: 225px;
  }
  .section__partners_bg-text {
    display: none;
  }
  .section__partners_logo .azuro {
    width: 240px;
    height: auto;
  }
  .section__partners_logo .fireblocks {
    width: 180px;
    height: auto;
  }
  .section__partners_logo .polygon {
    height: auto;
    width: 170px;
  }
}
@media (max-width: 768px) {
  .section__partners_block ul li {
    width: 32%;
    height: 12vw;
  }
  .section__partners_bg-text {
    display: none;
  }
  .section__partners_logo .azuro {
    width: 30.1vw;
  }
  .section__partners_logo .fireblocks {
    width: 20.5vw;
  }
  .section__partners_logo .polygon {
    width: 21vw;
  }
}
@media (max-width: 576px) {
  .section__partners {
    padding-bottom: 140px;
  }
  .section__partners_block {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column;
    gap: 30px;
  }
  .section__partners_block h2 {
    margin-bottom: 24px;
  }
  .section__partners_block h3 {
    width: 250px;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.4px;
    font-family: "InterE", sans-serif;
    display: inline-block;
  }
  .section__partners_block p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .section__partners_block ul {
    gap: 9px;
  }
  .section__partners_block ul li {
    height: 60px;
  }
}
@media (max-width: 393px) {
  .section__partners {
    padding-bottom: 120px;
  }
  input {
    font-size: 10px;
  }
}
.button {
  min-width: 184px;
  height: 62px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  text-transform: uppercase;
  font-family: "InterS", sans-serif;
  background: rgba(255, 255, 255, 0.01);
  font-size: 14px;
  letter-spacing: 0.28px;
}

.button:not[type=submit] {
  transition: all 0.5s;
}

.section__button-group {
  display: flex;
  width: 100%;
  gap: 10px;
}

.section__button_white {
  color: #000;
  background-color: #fff;
  display: inline-block;
}
.section__button_white:hover {
  background-color: rgba(56, 56, 56, 0.319);
  border: 1px solid #fff;
  color: #fff;
}

.section__button_transparent {
  display: inline-block;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin-left: 24px;
}
.section__button_transparent:hover {
  background-color: rgba(56, 56, 56, 0.319);
}

@media (max-width: 768px) {
  .button {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .button {
    min-width: 30px;
    width: 100%;
    height: 48px;
  }
}
.bgWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}
.bg .bgImage {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  mix-blend-mode: overlay;
}

.bgText {
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  text-align: right;
  font-family: "PoppinsB", sans-serif;
  font-size: 200px;
  line-height: 165px;
  text-transform: uppercase;
  opacity: 0.1;
  z-index: 10;
  right: 104px;
  top: 112px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.firstBg,
.thirdBg {
  z-index: 2;
}

.mainOne,
.mainTwo {
  position: absolute;
  right: 0;
  width: 1440px;
  height: 1024px;
}

.mainOne {
  z-index: 1;
  top: 0;
}

.mainTwo {
  z-index: 3;
  bottom: 0;
}

.menu__bg,
.menu__grid {
  display: none;
}

@media (max-width: 1440px) {
  .mainOne,
  .mainTwo {
    left: 0;
    right: initial;
  }
}
@media (max-width: 1240px) {
  .mainOne,
  .mainTwo {
    left: -200px;
  }
}
@media (max-width: 1024px) {
  .mainOne,
  .mainTwo {
    left: -350px;
  }
}
@media (max-width: 768px) {
  .bgText {
    display: none;
  }
}
@media (max-width: 576px) {
  .gridBg {
    display: none;
  }
  .mainOne {
    display: none;
  }
}
.input {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.02) 100%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.input:focus-within {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.29) 0%, rgba(255, 255, 255, 0.163) 100%);
}
.input input:-moz-placeholder-shown ~ span {
  display: block;
  position: absolute;
  font-size: 14px;
  color: rgb(255, 115, 123);
}
.input input:placeholder-shown ~ span {
  display: block;
  position: absolute;
  font-size: 14px;
  color: rgb(255, 115, 123);
}
.input input ~ span, .input input:valid ~ span {
  display: none;
}
.input input ~ label, .input input:valid ~ label {
  position: absolute;
  top: 73px;
  left: 0;
  display: none;
  color: rgb(255, 115, 123);
}
.input input::-moz-placeholder,
.input textarea::-moz-placeholder {
  font-size: 14px;
  font-family: "InterB", sans-serif;
  color: #fff;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}
.input input::-moz-placeholder, .input textarea::-moz-placeholder {
  font-size: 14px;
  font-family: "InterB", sans-serif;
  color: #fff;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}
.input input::placeholder,
.input textarea::placeholder {
  font-size: 14px;
  font-family: "InterB", sans-serif;
  color: #fff;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

textarea {
  resize: none;
}

@media (max-width: 576px) {
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    font-family: "InterS", sans-serif;
  }
  input::-moz-placeholder, textarea::-moz-placeholder {
    font-family: "InterS", sans-serif;
  }
  input::placeholder,
  textarea::placeholder {
    font-family: "InterS", sans-serif;
  }
}
footer {
  position: absolute;
  bottom: 19px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 11;
  padding: 0 20px;
}
footer p {
  font-size: 16px;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: -0.32px;
  font-family: "InterR", sans-serif;
  text-transform: uppercase;
}
footer > div, footer > div a {
  font-size: 14px;
  font-family: "InterR", sans-serif;
  line-height: 32px;
  color: #fff;
  text-transform: capitalize;
}
footer > div a span {
  display: inline-block;
  height: 24px;
  border-bottom: 1px solid #fff;
}

@media (max-width: 1024px) {
  footer {
    flex-direction: column-reverse;
    align-items: start;
    bottom: 50px;
    padding: 0 40px;
  }
  footer div {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  footer {
    bottom: 20px;
    padding: 0 20px;
  }
  footer p {
    font-size: 12px;
    letter-spacing: -0.24px;
  }
  footer > div, footer > div a {
    font-size: 15px;
    letter-spacing: -0.3px;
  }
}
@media (max-width: 393px) {
  footer {
    bottom: 20px;
    padding: 0 20px;
  }
  footer > div {
    margin-bottom: 10px;
  }
}
.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 300;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.modal--active {
  visibility: visible;
}
.modal--active div[data-close] {
  position: absolute;
  right: 0;
  top: -40px;
  cursor: default;
}
.modal--active div[data-close]:has(+ .modal__stake_img) {
  top: -25px;
}
.modal--active .modal__wrap > div {
  transform: scale(1);
  opacity: 1;
}
.modal__wrap {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.modal__opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

.modal__shadow {
  position: fixed;
  border: none;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 98;
  opacity: 0;
  transition: opacity 0.15s ease;
  background-color: black;
}
.modal__shadow--show {
  pointer-events: auto;
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .modal--active div:not([data-close]) > img {
    height: auto;
    width: 100%;
    padding: 10px;
  }
}
.modal__join {
  width: 456px;
  height: 550px;
  padding: 50px;
  background-color: #2b2b2b;
  border-radius: 12px;
  position: relative;
}
.modal__join .form_ok {
  display: none;
  text-align: center;
  padding-top: 50px;
}
.modal__join .form_ok p {
  margin-bottom: 40px;
}
.modal__join .bgWrapper {
  z-index: 0;
}
.modal__join .bgWrapper img {
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 12px;
}
.modal__join div[data-close] {
  position: absolute;
  right: 15px;
  top: 15px;
}
.modal__join > div:last-child {
  position: relative;
}
.modal__join form {
  text-align: center;
}
.modal__join form input ~ label {
  font-size: 12px;
}
.modal__join form .modal_name {
  gap: 13px;
}
.modal__join form .modal_name input:-moz-placeholder-shown ~ span {
  left: 114px;
  top: 25px;
}
.modal__join form .modal_name input:placeholder-shown ~ span {
  left: 114px;
  top: 25px;
}
.modal__join form .modal_email input::-moz-placeholder, .modal__join form .modal_name input::-moz-placeholder {
  opacity: 0.6;
}
.modal__join form .modal_email input::placeholder, .modal__join form .modal_name input::placeholder {
  opacity: 0.6;
}
.modal__join form .modal_email input:-moz-placeholder-shown ~ span {
  right: 125px;
  top: 25px;
}
.modal__join form .modal_email input:placeholder-shown ~ span {
  right: 125px;
  top: 25px;
}
.modal__join h5 {
  margin-bottom: 8px;
}
.modal__join h5 + p {
  font-family: "PoppinsR", sans-serif;
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 30px;
}
.modal__join .input {
  width: 100%;
  height: 65px;
  gap: 17px;
  padding: 5px 5px 5px 26px;
  margin-bottom: 15px;
}
.modal__join .input input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "InterS", sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0.28px;
  line-height: 17px;
}
.modal__join button {
  width: 100%;
  height: 65px;
  font-family: "InterB", sans-serif;
  font-size: 14px;
  color: #000;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  margin-bottom: 50px;
}
.modal__join button:hover {
  color: #212121;
  background-color: rgb(234, 234, 234);
}
.modal__join_motivation {
  font-family: "PoppinsB", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
.modal__join_motivation:after, .modal__join_motivation:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 16px;
  background-color: rgb(255, 255, 255);
}
.modal__join_motivation:before {
  top: 50%;
  left: 0;
}
.modal__join_motivation:after {
  top: 50%;
  right: 0;
}
.modal__join .modal__socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.modal__join .modal__socials svg {
  -webkit-backdrop-filter: blur(4.1049365997px);
  backdrop-filter: blur(4.1049365997px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: default;
}
.modal__join .modal__socials svg:hover path {
  fill: #9e9dfe;
}

@media (max-width: 576px) {
  .modal__join {
    width: 92%;
    height: auto;
    padding: 40px;
  }
  .modal__join form + div {
    font-size: 14px;
  }
  .modal__join form + div p {
    padding: 0 20px;
  }
  .modal__join form .modal_email input:-moz-placeholder-shown ~ span {
    right: 7px;
    top: 0;
    position: relative;
  }
  .modal__join form .modal_email input:placeholder-shown ~ span {
    right: 7px;
    top: 0;
    position: relative;
  }
}
@media (max-width: 393px) {
  .modal__join {
    width: 100%;
    padding: 25px;
  }
}
.modal__stake_img {
  width: 100%;
  height: auto;
  position: relative;
}
.modal__stake_img img {
  width: 80vw;
  max-width: 1240px;
  height: auto;
  max-height: 90vh;
}
.modal__stake_img > picture:last-child {
  position: absolute;
  top: 5px;
  left: 10vw;
}
.modal__stake_img > picture:last-child img {
  padding: 10px 10px;
  width: 62vw;
  max-width: 950px;
  height: auto;
  max-height: 82vh;
}

@media (max-width: 1024px) {
  .modal__stake_img {
    width: 100%;
    height: auto;
    position: relative;
  }
  .modal__stake_img img {
    width: 95vw;
    height: auto;
  }
  .modal__stake_img > picture:last-child {
    position: absolute;
    top: 5px;
    left: 10vw;
  }
  .modal__stake_img > picture:last-child img {
    padding: 10px 10px;
    width: 75vw;
    height: auto;
  }
  .modal .zoom::-webkit-scrollbar {
    display: none;
  }
  .modal .zoom {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .modal .zoom img {
    width: 200%;
    height: auto;
  }
  .modal .zoom > picture:last-child {
    position: absolute;
    top: 5px;
    left: 20vw;
  }
  .modal .zoom > picture:last-child img {
    padding: 10px 10px;
    width: 200%;
    height: auto;
  }
}
.page {
  background-color: #000;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

a[target=_blank] {
  cursor: default;
}

h3 {
  font-size: 48px;
  font-family: "PoppinsE", sans-serif;
  text-transform: uppercase;
}

h4 {
  font-size: 40px;
  font-family: "PoppinsB", sans-serif;
  line-height: 46px;
  text-transform: uppercase;
}

h5 {
  font-size: 32px;
  line-height: 46px;
  font-family: "PoppinsB", sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.section__container_main + .events {
  width: 100vw;
  margin: 0 auto;
}

.events {
  display: flex;
}

.events::-webkit-scrollbar {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 20;
  min-width: 350px;
  height: 250px;
  background: #151515;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 15px 19px 20px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s linear;
  font-family: "PoppinsM", sans-serif;
  cursor: default;
}
.card:hover {
  background: #1b1b1b;
  box-shadow: 15px 19px 20px 0px rgba(0, 0, 0, 0.5);
}
.card > picture img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  z-index: 9;
  filter: brightness(0.5);
}
.card__title {
  position: absolute;
  bottom: 45%;
  left: 15px;
  z-index: 10;
  font-size: 14px;
  padding: 0 10px;
  line-height: 18px;
}
.card__socials {
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}
.card__socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: rgba(28, 28, 28, 0.7803921569);
  border-radius: 10px;
  cursor: default;
}
.card__socials a svg {
  opacity: 1;
}
.card__info {
  font-size: 15px;
  font-family: "HalveticaN", sans-serif;
}
.card__info_status {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px 0 0 30px;
  margin-bottom: 10px;
}
.card__info_status-active, .card__info_status-price, .card__info_status-author {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__info_status-active {
  width: 60px;
  height: 31px;
  border-radius: 99px;
  background-color: rgba(203, 252, 2, 0.15);
  color: rgb(203, 252, 2);
}
.card__info_status-price {
  font-family: "HalveticaM", sans-serif;
  font-size: 13px;
  width: 65px;
  height: 31px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0.4);
}
.card__info_status-author {
  gap: 5px;
  width: 100px;
  height: 31px;
  border-radius: 99px;
  background-color: #1b1b1b;
  color: rgb(135, 135, 135);
  position: relative;
}
.card__info_status-author svg {
  margin-bottom: 4px;
}
.card__info_status-author p {
  font-size: 11px;
}
.card__info_tags {
  padding-left: 30px;
  color: #007aff;
}
.card__info_button {
  display: none;
  position: absolute;
  right: 25px;
  bottom: 40px;
  height: 40px;
  min-width: 108px;
  font-size: 10px;
}

.descriptionWrapper p {
  position: relative;
}

.descriptionWrapper p span {
  width: 11px;
  display: inline-block;
  height: 100%;
}

.descriptionWrapper p::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  left: 1px;
  top: 10px;
}

.descriptionWrapper p + p {
  margin-top: 14px;
}

@media (max-width: 930px) {
  .oracleApproved {
    display: none;
  }
}
@media (max-width: 576px) {
  .card__info_button {
    width: auto;
  }
  h4,
  h3 {
    font-size: 32px;
    line-height: 40px;
  }
  .br1 {
    display: none;
  }
  h5 {
    font-size: 22px;
    margin-bottom: 8px;
  }
  .events + .h5 {
    margin-top: 24px;
  }
}
@media (max-width: 393px) {
  .descriptionWrapper {
    text-align: left;
  }
}/*# sourceMappingURL=main.css.map */