@import 'common/media_breakpoints';
@import 'common/fonts', 'common/normalize', 'blocks/header', 'blocks/socials',
  'blocks/sections/sections', 'blocks/buttons', 'blocks/backgrounds',
  'blocks/input';

.page {
  background-color: #000;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

h3 {
  font-size: 48px;
  font-family: 'PoppinsE', sans-serif;
  text-transform: uppercase;
}

h4 {
  font-size: 40px;
  font-family: 'PoppinsB', sans-serif;
  line-height: 46px;
  text-transform: uppercase;
}

h5 {
  font-size: 32px;
  line-height: 46px;
  font-family: 'PoppinsB', sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.events::-webkit-scrollbar {
  display: none;
}

.event {
  min-width: 350px;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  background: #1c1c1c;
  -webkit-box-shadow: 15px 19px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 15px 19px 20px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-family: 'PoppinsM', sans-serif;
  cursor: url('../img/cursor.png'), pointer;
  position: relative;
}

.event .fourthBg {
  width: 600px;
  height: 350px;
  max-width: initial;
  max-height: initial;
}

.events .bgWrapper {
  top: 150px;
}

.event__button {
  margin-left: auto;
  width: 108px;
  height: 32px;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'InterS', sans-serif;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.events .firstBg {
  z-index: 0;
  max-width: initial;
  max-height: initial;
}

.event:hover {
  background: #272727;
  -webkit-box-shadow: 15px 19px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 15px 19px 20px 0px rgba(0, 0, 0, 0.5);
}

.event .event__image {
  max-height: 150px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  z-index: 10;
}

.event__description {
  font-size: 14px;
  line-height: 18px;
  margin: 12px 16px 4px;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 16px;
  gap: 3px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 6px;
  height: 21px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5.192px;
  border: 0.5px solid #464646;
  background: rgba(255, 255, 255, 0.07);
  -webkit-backdrop-filter: blur(2.5961077213px);
  backdrop-filter: blur(2.5961077213px);
  font-size: 8px;
  line-height: 20px;
  text-transform: capitalize;
  opacity: 0.5;
}

.event:hover .event__button {
  opacity: 1;
}

.descriptionWrapper p {
  position: relative;
}

.descriptionWrapper p span {
  width: 11px;
  display: inline-block;
  height: 100%;
}

.descriptionWrapper p::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  left: 1px;
  top: 10px;
}

.descriptionWrapper p + p {
  margin-top: 20px;
}

.footer {
  position: absolute;
  bottom: 19px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: auto;
  z-index: 11;
  padding: 0 20px;
}

.rights {
  font-size: 16px;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: -0.32px;
  font-family: 'InterR', sans-serif;
  text-transform: uppercase;
}

.info,
.info a {
  font-size: 14px;
  font-family: 'InterR', sans-serif;
  line-height: 32px;
  color: #fff;
  text-transform: capitalize;
}

.info a span {
  display: inline-block;
  height: 24px;
  border-bottom: 1px solid #fff;
}

@include laptop() {
  .main {
    padding-top: 159px;
    padding-bottom: 159px;
    padding-right: 0;
  }
}

@media (max-width: 930px) {
  .oracleApproved {
    display: none;
  }
}

@include mobile() {
  .main {
    padding-top: 56px;
    padding-bottom: 87px;
  }

  .mainDescription {
    font-size: 16px;
  }

  h4,
  h3 {
    font-size: 32px;
    line-height: 40px;
  }

  .br1 {
    display: none;
  }

  h5 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .events + .h5 {
    margin-top: 24px;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    gap: 16px;
  }

  .rights {
    font-size: 12px;
    letter-spacing: -0.24px;
  }

  .info,
  .info a {
    font-size: 15px;
    letter-spacing: -0.3px;
  }
}

@include mobile-only() {
  .main {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main .title {
    margin-bottom: 16px;
  }

  .descriptionWrapper,
  .footer {
    text-align: left;
  }
}
