.modal {
  &__stake_img {
    width: 100%;
    height: auto;

    position: relative;

    img {
      width: 80vw;
      max-width: 1000px;
      height: auto;
      max-height: 90vh;
    }

    & > picture:last-child {
      position: absolute;
      top: 5px;
      left: 10vw;

      img {
        padding: 10px 10px;
        width: 62vw;
        max-width: 760px;
        height: auto;
        max-height: 82vh;
      }
    }
  }
}

@include laptop() {
  .modal {
    &__stake_img {
      width: 100%;
      height: auto;

      position: relative;

      img {
        width: 95vw;
        height: auto;
      }

      & > picture:last-child {
        position: absolute;
        top: 5px;
        left: 10vw;

        img {
          padding: 10px 10px;
          width: 75vw;
          height: auto;
        }
      }
    }

    .zoom::-webkit-scrollbar {
      display: none;
    }

    .zoom {
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      img {
        width: calc(100% * 2);
        height: auto;
      }

      & > picture:last-child {
        position: absolute;
        top: 5px;
        left: 20vw;

        img {
          padding: 10px 10px;
          width: calc(100% * 2);
          height: auto;
        }
      }
    }
  }
}
