.case {
  padding-top: 122px;
  padding-bottom: 55px;

  .title {
    margin-bottom: 48px;
  }

  & > div:first-of-type {
    margin-bottom: 30px;
  }
}



.section__event_cases {
  max-width: 1340px;
  gap: 32px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  .bg {
    img {
      background: #000;
    }
    picture {
      opacity: 0.3;
    }
  }
}

@include desktop-only() {
  .section__event_cases {
    max-width: 95vw;
  }
}

@include tablet() {
  .case {
    padding-top: 80px;
    padding-bottom: 72px;

    .title {
      font-size: 64px;
      line-height: 80px;
    }
  }
}
@include mobile() {
  .case {
    padding-bottom: 0;
    padding-top: 0;
    .title {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 30px;
    }
  }
}
