.section__columns {
  display: grid;
  grid-template: 1fr / 1fr auto 1fr;

  &_block {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
  }

  &_block:nth-child(1) {
    justify-content: flex-end;
  }

  &_block:nth-child(2) {
    max-width: 480px;
  }

  &_black {
    background-image: url(/img/bg/1920/black-paper-bg.webp);
  }

  &_violet {
    background-image: url(/img/bg/1920/violet-paper-bg.webp);
  }

  &_blue {
    background-image: url(/img/bg/1920/blue-paper-bg.webp);
  }

  &_text {
    padding: 200px 80px 200px 0;
    margin-left: 104px;
    max-width: calc((1240px - 104px) / 3);
    h4 {
      margin-bottom: 32px;
    }
  }
}

@include desktop-only() {
  .section__columns {
    &_block:nth-child(2) {
      max-width: 400px;
    }

    &_text {
      padding-right: 30px;
    }

    &_block:nth-child(2) > &_text,
    &_block:nth-child(3) > &_text {
      margin-left: 60px;
    }
  }
}

@include laptop() {
  .section__columns {
    grid-template: repeat(3, auto) / 1fr;

    &_block:nth-child(1) {
      justify-content: flex-start;
    }
    &_block:nth-child(2) {
      max-width: 100%;
    }

    &_black {
      background-image: url(/img/bg/1024/black-paper-bg.webp);
    }
    &_violet {
      background-image: url(/img/bg/1024/violet-paper-bg.webp);
    }
    &_blue {
      background-image: url(/img/bg/1024/blue-paper-bg.webp);
    }

    &_block:nth-child(2) > &_text,
    &_block:nth-child(3) > &_text {
      margin-left: 0;
    }

    &_text {
      max-width: 100%;
      margin-left: 0;
      padding: 70px 20px 70px 40px;
    }
  }
}
@include tablet() {
  .section__columns {
    &_black {
      background-image: url(/img/bg/768/black-paper-bg.webp);
    }
    &_violet {
      background-image: url(/img/bg/768/violet-paper-bg.webp);
    }
    &_blue {
      background-image: url(/img/bg/768/blue-paper-bg.webp);
    }
  }
}

@include mobile() {
  .section__columns {
    &_text {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}

@include mobile-only() {
  .section__columns {
    &_black {
      background-image: url(/img/bg/400/black-paper-bg.webp);
    }
    &_violet {
      background-image: url(/img/bg/400/violet-paper-bg.webp);
    }
    &_blue {
      background-image: url(/img/bg/400/blue-paper-bg.webp);
    }

    &_text {
      padding: 40px 20px 20px 20px;
    }
  }
}
