.section__features {
  z-index: 10;

  &_block {
    height: 1120px;
    max-width: 1240px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    margin: 0 auto;
    // gap: 112px 210px;
    gap: 45px 210px;
    width: 100%;

    &-text {
      padding-top: 100px;
      width: 100%;
      max-width: 510px;
      position: relative;
      z-index: 3;

      h4,
      p {
        margin-bottom: 30px;
      }
    }
  }

  &_p-t-30 {
    padding-top: 30px;
  }

  &_bg-black-first {
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 50%;
  }

  &_bg-black-first .bg {
    background-color: #413f3f;
  }

  &_bg-dark-violet {
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 50%;
    right: 0;
  }

  &_bg-dark-violet .bg {
    background-color: #25255b;
  }

  &_bg-light-violet {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 50%;
  }

  &_bg-light-violet .bg {
    background-color: #6868a1;
  }

  &_bg-black-second {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
  }

  &_bg-black-second .bg {
    background-color: #2b2b2b;
  }
}

@include desktop() {
  .section__features {
    &_block {
      height: 1366px;
      max-width: 1024px;
      gap: 0 204px;
    }

    &_p-t-30 {
      padding-top: 100px;
    }
  }
}

@include laptop() {
  .section__features {
    padding: 0 20px;

    &_block {
      height: auto;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-top: 0px;
      padding-bottom: 30px;
      gap: 29px;
      max-width: 96%;
      height: 100%;
      margin: 0 auto;

      & > div {
        position: relative;
        height: auto;

        &:first-child p {
          font-family: 'PoppinsRI', sans-serif;
          line-height: 27px;
        }

        &:nth-child(2) p {
          font-family: 'PoppinsR', sans-serif;
        }
      }

      &-text {
        height: auto;
        padding-top: 50px;

        // margin: 10px;
        max-width: 100%;

        h4,
        p {
          margin-bottom: 16px;
        }

        h4 {
          font-size: 32px;
          line-height: 40px;
        }

        p:last-of-type {
          font-size: 14px;
          margin-bottom: 0;
        }
      }
    }

    .features_bg {
      display: none;
    }

    &_bg-black-first,
    &_bg-dark-violet,
    &_bg-light-violet,
    &_bg-black-second {
      position: absolute;
      min-height: 100%;
      top: 0;
      bottom: -40px;
      left: -50px;
      right: -50px;
      z-index: -1;
    }
  }
}

@include tablet() {
  .section__features {
    &_block {
      &-text {
        padding: 30px 5px 0px 10px;
      }
    }
  }
}

@include mobile() {
  .section__features {
    padding-top: 20px;

    &_block {
      padding-top: 10px;
      padding-bottom: 30px;
      gap: 60px;

      &-text {
        padding: 12px 0 0 0;
        margin: 0;
      }

      & > div {
        min-height: auto;
        margin-bottom: 0;
      }
    }

    &_bg-black-first,
    &_bg-dark-violet,
    &_bg-light-violet,
    &_bg-black-second {
      top: -30px;
    }
  }
}

@include mobile-only() {
  .section__features {
    &_bg-black-first,
    &_bg-dark-violet,
    &_bg-light-violet,
    &_bg-black-second {
      top: -40px;
      bottom: -100px;
    }
  }
}
