.section__features {
  display: grid;
  grid-template: auto auto / 1fr 1fr;

  &_block {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
  }

  &_block:nth-child(1) {
    background-image: url(/img/bg/1920/black-paper-bg.webp);
  }
  &_block:nth-child(2) {
    background-image: url(/img/bg/1920/blue-paper-bg.webp);
  }
  &_block:nth-child(3) {
    background-image: url(/img/bg/1920/violet-paper-bg.webp);
  }
  &_block:nth-child(4) {
    background-image: url(/img/bg/1920/black-paper-bg.webp);
  }

  &_block:nth-child(2n + 1) {
    justify-content: flex-end;
  }

  &_text {
    padding: 100px 104px 50px 0;
    margin-left: 104px;
    max-width: calc(1240px / 2);

    h4,
    p {
      margin-bottom: 30px;
    }
  }
}

@include laptop() {
  .section__features {
    grid-template: repeat(4, auto) / 1fr;

    &_block:nth-child(2n + 1) {
      justify-content: flex-start;
    }

    &_block:nth-child(1) {
      background-image: url(/img/bg/1024/black-paper-bg.webp);
    }
    &_block:nth-child(2) {
      background-image: url(/img/bg/1024/blue-paper-bg.webp);
    }
    &_block:nth-child(3) {
      background-image: url(/img/bg/1024/violet-paper-bg.webp);
    }
    &_block:nth-child(4) {
      background-image: url(/img/bg/1024/black-paper-bg.webp);
    }

    &_text {
      padding-bottom: 15px;
      padding-right: 40px;
      padding-top: 50px;
      margin-left: 40px;
      max-width: 100%;
    }
  }
}

@include tablet() {
  .section__features {
    &_block:nth-child(1) {
      background-image: url(/img/bg/768/black-paper-bg.webp);
    }
    &_block:nth-child(2) {
      background-image: url(/img/bg/768/blue-paper-bg.webp);
    }
    &_block:nth-child(3) {
      background-image: url(/img/bg/768/violet-paper-bg.webp);
    }
    &_block:nth-child(4) {
      background-image: url(/img/bg/768/black-paper-bg.webp);
    }
  }
}

@include mobile-only() {
  .section__features {
    &_block:nth-child(1) {
      background-image: url(/img/bg/400/black-paper-bg.webp);
    }
    &_block:nth-child(2) {
      background-image: url(/img/bg/400/blue-paper-bg.webp);
    }
    &_block:nth-child(3) {
      background-image: url(/img/bg/400/violet-paper-bg.webp);
    }
    &_block:nth-child(4) {
      background-image: url(/img/bg/400/black-paper-bg.webp);
    }

    .section__features {
      &_text {
        padding-right: 20px;
        margin-left: 20px;
      }
    }
  }
}
