.section {
  &__description {
    &_mobile {
      font-size: 32px;
      line-height: 60px;
      text-transform: uppercase;
      font-family: 'InterS', sans-serif;

      display: none;
    }
  }

  &__container_main {
    padding: 162px 0 70px;
  }

  &__event_main {
    padding-bottom: 60px;
    max-width: 1440px;
    overflow-x: auto;
    position: relative;
    z-index: 100;

    & > div {
      display: flex;
      gap: 0 30px;
      padding: 0 15px;
      animation: move calc(16s * 10) linear infinite backwards;

      .card {
        cursor: unset;

        &__socials > a {
          cursor: unset;
        }
      }
    }

    @keyframes move {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }
}

// @include desktop-only() {
// .section {
//   &__container_main {
//     padding: 162px 0 70px;
//   }
// }
// }

@include laptop() {
  .section {
    & > &__container_main {
      flex-direction: column;
      gap: 20px;

      .section__subtitle {
        display: none;
      }

      .section__description {
        margin-bottom: 20px;
      }
    }

    &__description_mobile {
      display: block;
      margin-bottom: 20px;
    }
  }
}

@include mobile() {
  .section {
    & > &__container_main {
      padding: 56px 0 50px;

      .section__block:last-child {
        max-width: 100%;
      }

      .section__title {
        margin-bottom: 20px;
      }

      .section__description {
        margin-bottom: 15px;
      }
    }

    &__event_main {
      padding-bottom: 30px;
      max-width: 96%;
    }

    &__description_mobile {
      font-size: 16px;
      line-height: 33px;
      text-transform: none;
      font-family: 'PoppinsS', sans-serif;
    }

    &__button-group {
      width: 100%;
    }
  }
}

@include mobile-only() {
  .section {
    & > &__container_main {
      padding-top: 70px;
    }

    h2 {
      margin-bottom: 16px;
    }
  }
}
