.section__roadmap {
  position: relative;
  z-index: 3;
  padding-top: 162px;
  max-width: 1240px;

  h2 {
    margin-bottom: 235px;
  }

  &_plan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-width: 1240px;
    margin: 0 auto;
    padding-bottom: 112px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: default;

    &::-webkit-scrollbar {
      display: none;
    }

    & > li {
      width: 100%;
      white-space: nowrap;

      h4 {
        margin-bottom: 70px;
      }

      &:last-child > span {
        display: none;
      }
    }
  }

  &_block {
    position: relative;
  }

  &_line {
    position: absolute;
    top: 80px;
    left: 0;
    width: calc(100% * 6 + 100px);
    height: 2px;
    background-color: rgba(29, 141, 99, 1);
  }

  &_point {
    position: absolute;
    top: -40px;
    left: 0;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: rgba(29, 141, 99, 1);
  }

  &_items {
    margin-top: 40px;
    position: relative;

    p {
      font-size: 13px;
      position: relative;
      display: inline-block;
      padding-left: 20px;

      &::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: #fff;
        border-radius: 50%;
        top: 10px;
        left: 10px;
      }
    }
  }
}

@include desktop-only() {
  .section__roadmap {
    max-width: 100%;
  }
}

@include laptop() {
  .section__roadmap {
    padding: 80px 0 60px;
  }
}

@include tablet() {
  .section__container:has(.section__roadmap) {
    padding: 60px 0 30px;
  }
  .section__roadmap {
    padding: 0;

    h2 {
      margin-bottom: 150px;
    }

    &_plan {
      padding-bottom: 70px;
    }
  }
}

@include mobile() {
  .section__container:has(.section__roadmap) {
    max-width: 96%;
    padding: 30px 10px 0;
  }
  .section__roadmap {
    min-height: auto;

    h2 {
      margin-bottom: 70px;
    }

    &_plan {
      padding: 0;
      margin: 0;
      overflow-x: auto;
      scroll-snap-type: x mandatory;

      & > li {
        scroll-snap-align: start;
        min-width: 100%;
        white-space: normal;
        height: auto;

        & > span::before {
          bottom: -7px;
        }
        & > span::after {
          bottom: -13px;
        }
        &::before {
          bottom: -10px;
        }
      }
    }
    &_point {
      top: -34px;
    }

    &_items {
      margin-top: 16px;
    }
  }
}

@include mobile-only() {
  .section__container:has(.section__roadmap) {
    padding: 30px 10px 0;
  }
}
