.section__tokenomics {
  position: relative;
  width: 100%;
  z-index: 3;
  padding: 162px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 70px;
  }

  h4 {
    margin-bottom: 70px;
    line-height: 50px;
    span {
      color: #9e9dfe;
    }
  }

  &_images {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }

    picture {
      display: flex;
      justify-content: center;
    }

    &-desk {
      margin-bottom: 50px;
      img {
        max-width: 70%;
      }
    }

    &-mob {
      display: none;
    }

    &-vesting-desk {
      position: relative;
      z-index: 5;
      max-width: 1240px;
      margin: 0 auto 100px;
      width: 100%;
      img {
        max-width: 90%;
      }
    }
    &-vesting-mob {
      display: none;
    }
  }

  @include laptop() {
    padding: 120px 0 100px;

    h2 {
      margin-bottom: 50px;
    }

    h4 {
      margin-bottom: 70px;
    }

    &_images {
      width: 100%;
      align-items: center;

      img {
        height: auto;
      }

      &-desk {
        display: none;
      }

      &-mob {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        picture:first-of-type {
          justify-content: center;
          margin-bottom: 40px;
          img {
            max-width: 70%;
          }
        }
        picture:last-of-type {
          align-self: flex-start;
          margin-bottom: 60px;
          img {
            max-width: 100%;
          }
        }
      }

      &-vesting-desk {
        display: none;
      }
      &-vesting-mob {
        display: flex;
        width: 100%;
        picture {
          justify-content: flex-start;
          img {
            max-width: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  @include tablet() {
    padding: 80px 0 60px;
    h2 {
      font-size: 70px;
    }

    &-mob {
      picture:last-of-type {
        img {
          max-width: 100%;
        }
      }
    }
  }

  @include mobile() {
    padding: 40px 0 20px;
    h2 {
      font-size: 40px;
      margin-bottom: 30px;
    }
    h4 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 40px;
    }

    &_images {
      align-items: flex-start;

      picture {
        justify-content: flex-start;
      }

      &-mob {
        picture:first-of-type {
          img {
            max-width: 60%;
          }
        }
        picture:last-of-type {
          margin-bottom: 30px;
          // img {
          //   max-width: 85%;
          // }
        }
      }

      &-vesting-mob {
        display: none;
      }
      &-vesting-desk {
        display: flex;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin-bottom: 20px;
        img {
          width: 758px;
          max-width: none;
          height: auto;
        }
      }
    }
  }
}
