.section__tokenomics {
  padding: 162px 50px 190px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 182px;

  & > div:first-child {
    max-width: 580px;
  }

  & > div:last-child {
    max-width: 360px;
  }

  h2 {
    margin-bottom: 118px;

    & + p {
      display: none;
    }
  }

  h3 {
    margin-bottom: 24px;
  }

  img {
    display: inline-block;
    width: 560px;
    height: auto;
  }

  .section__description {
    margin-bottom: 24px;
  }

  li {
    padding-left: 24px;
    position: relative;
  }

  li::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
    left: 10px;
    top: 9px;
  }
}

@include desktop() {
  .section__tokenomics {
    gap: 0;
    padding-right: 10px;
    width: 100%;
    justify-content: space-between;

    & > div:first-child {
      max-width: 500px;
    }

    img {
      width: 500px;
    }
  }
}

@include laptop() {
  .section__tokenomics {
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 100px;

    & > div:first-child {
      max-width: 90vw;
    }

    h2 {
      margin-bottom: 90px;
    }

    img {
      width: 100%;
      padding: 0 20px 60px;
    }

    & > div:last-child {
      max-width: 90vw;
    }
  }
}

@include tablet() {
  .section__tokenomics {
    padding-bottom: 30px;
    padding-top: 30px;
    h2 {
      font-size: 70px;
      margin-bottom: 70px;
    }
  }
}
@include mobile() {
  .section__tokenomics {
    h2 {
      font-size: 40px;
      margin-bottom: 30px;

      & + .section__description {
        margin-bottom: 30px;
        display: block;
      }
    }
  }
}
